# Copyright (c) 2024 Rick Bruyninckx
# SPDX-License-Identifier: Apache-2.0

# AT32F403ACGU7 based Black Pill V1.0 board configuration

config BOARD_BLACKPILL_F403ACG
	bool "WeAct Studio Black Pill V1.0 Board"
	depends on SOC_STM32F401XC
